@font-face {
  font-family: "HankesGrotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}
body, html {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "HankesGrotesk";
  text-align: justify;
}

img {
  max-width: 100%;
}

body {
  background-color: #D5E1EF;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    background-color: white;
    border-radius: 25px;
  }
}
.card1 {
  background-image: linear-gradient(to top, #332de9 0%, #6642fe 100%);
  border-radius: 25px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 420px;
  justify-content: center;
}
.card1 .circulo {
  border-radius: 100%;
  background-image: linear-gradient(to top, rgba(51, 45, 233, 0.337254902) 20%, rgba(0, 0, 0, 0.27) 80%);
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card1 .circulo h1 {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 10px;
}
.card1 .circulo p {
  color: rgba(185, 182, 255, 0.5254901961);
  font-size: 0.9rem;
  padding-bottom: 5px;
  margin-top: 0;
}
.card1 h4 {
  color: #B8B6FF;
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
.card1 h3 {
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 0;
}
.card1 p {
  color: #B8B6FF;
  font-size: 0.9rem;
  padding-bottom: 5px;
}
.card1 .card1__texto h2 {
  font-weight: 600;
}
.card1 .card1__texto p {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .card1 {
    background-image: linear-gradient(to top, #332de9 0%, #6642fe 100%);
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 320px;
    height: 420px;
    justify-content: center;
  }
  .card1 .circulo {
    border-radius: 50%;
    background-image: linear-gradient(to top, #332de9 20%, rgba(0, 0, 0, 0.2) 80%);
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card1 .circulo h2 {
    font-weight: 900;
    font-size: 3em;
    margin-top: 7px;
  }
  .card1 .circulo p {
    color: rgba(185, 182, 255, 0.4196078431);
    font-size: 0.9rem;
    margin-top: 2;
    margin-bottom: 0;
  }
  .card1 h4 {
    color: #B8B6FF;
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
  }
  .card1 h3 {
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 0;
  }
  .card1 p {
    color: #B8B6FF;
    font-size: 0.9rem;
    padding-bottom: 5px;
  }
}
@media (max-width: 768px) {
  body {
    background-color: white;
  }
}
@media (max-width: 320px) {
  .card1 {
    width: 100vw;
  }
}
@media (min-width: 768px) {
  .card2 {
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .card2 .btn {
    border-radius: 50px;
    background-color: #303B59;
    text-align: center;
    color: white;
    padding: 15px 90px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    cursor: pointer;
  }
  .card2 .label1 {
    display: flex;
    gap: 90px;
    background-color: #fff6f5;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .card2 .label1 .reaction {
    display: flex;
    align-items: center;
  }
  .card2 .label1 .reaction span {
    color: #f76568;
    font-weight: 700;
    padding: 5px;
    font-size: 1rem;
  }
  .card2 .label1 .reaction i img {
    margin-left: 10px;
    width: 1em;
    margin-top: 5px;
    margin-right: 5px;
  }
  .card2 .label1 .num1 {
    margin-right: 10px;
  }
  .card2 .label1 .num1 p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: #31374E;
  }
  .card2 .label1 .num1 p span {
    color: rgba(70, 81, 110, 0.6431372549);
  }
  .card2 .label2 {
    display: flex;
    gap: 100px;
    background-color: #fffbf2;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .card2 .label2 .memory {
    display: flex;
    align-items: center;
  }
  .card2 .label2 .memory span {
    color: #FCBC40;
    font-weight: 700;
    padding: 5px;
    font-size: 1rem;
  }
  .card2 .label2 .memory i img {
    margin-left: 10px;
    width: 1em;
    margin-top: 5px;
    margin-right: 5px;
  }
  .card2 .label2 .num2 {
    margin-right: 12px;
  }
  .card2 .label2 .num2 p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: #31374E;
  }
  .card2 .label2 .num2 p span {
    color: rgba(70, 81, 110, 0.6431372549);
  }
  .card2 .label3 {
    display: flex;
    background-color: #f2fafa;
    gap: 100px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .card2 .label3 .verbal {
    display: flex;
    align-items: center;
  }
  .card2 .label3 .verbal span {
    color: #56B79D;
    font-weight: 700;
    padding: 5px;
    font-size: 1rem;
  }
  .card2 .label3 .verbal i img {
    margin-left: 10px;
    width: 1em;
    margin-top: 5px;
    margin-right: 5px;
  }
  .card2 .label3 .num3 {
    margin-right: 10px;
  }
  .card2 .label3 .num3 p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: #31374E;
  }
  .card2 .label3 .num3 p span {
    color: rgba(70, 81, 110, 0.6431372549);
  }
  .card2 .label4 {
    display: flex;
    gap: 100px;
    background-color: #f3f3fd;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .card2 .label4 .visual {
    display: flex;
    align-items: center;
  }
  .card2 .label4 .visual span {
    color: #414797;
    font-weight: 700;
    padding: 5px;
    font-size: 1rem;
  }
  .card2 .label4 .visual i img {
    margin-left: 10px;
    width: 1em;
    margin-top: 5px;
    margin-right: 5px;
  }
  .card2 .label4 p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: #31374E;
  }
  .card2 .label4 p span {
    color: rgba(70, 81, 110, 0.6431372549);
  }
  .card2 .centrado {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .card2 .summary {
    margin-left: 30px;
    color: #31374E;
    font-weight: 900;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .cards {
    border-radius: 25px;
  }
  .card2 {
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .card2 .btn {
    border-radius: 50px;
    background-color: #303B59;
    text-align: center;
    color: white;
    padding: 15px 90px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    cursor: pointer;
  }
  .card2 .label1 {
    display: flex;
    gap: 90px;
    background-color: #fff6f5;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .card2 .label1 .reaction {
    display: flex;
    align-items: center;
  }
  .card2 .label1 .reaction span {
    color: #f76568;
    font-weight: 700;
    padding: 5px;
    font-size: 1rem;
  }
  .card2 .label1 .reaction i img {
    margin-left: 10px;
    width: 1em;
    margin-top: 5px;
    margin-right: 5px;
  }
  .card2 .label1 .num1 {
    margin-right: 10px;
  }
  .card2 .label1 .num1 p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: #31374E;
  }
  .card2 .label1 .num1 p span {
    color: rgba(70, 81, 110, 0.6431372549);
  }
  .card2 .label2 {
    display: flex;
    gap: 100px;
    background-color: #fffbf2;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .card2 .label2 .memory {
    display: flex;
    align-items: center;
  }
  .card2 .label2 .memory span {
    color: #FCBC40;
    font-weight: 700;
    padding: 5px;
    font-size: 1rem;
  }
  .card2 .label2 .memory i img {
    margin-left: 10px;
    width: 1em;
    margin-top: 5px;
    margin-right: 5px;
  }
  .card2 .label2 .num2 {
    margin-right: 12px;
  }
  .card2 .label2 .num2 p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: #31374E;
  }
  .card2 .label2 .num2 p span {
    color: rgba(70, 81, 110, 0.6431372549);
  }
  .card2 .label3 {
    display: flex;
    background-color: #f2fafa;
    gap: 100px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .card2 .label3 .verbal {
    display: flex;
    align-items: center;
  }
  .card2 .label3 .verbal span {
    color: #56B79D;
    font-weight: 700;
    padding: 5px;
    font-size: 1rem;
  }
  .card2 .label3 .verbal i img {
    margin-left: 10px;
    width: 1em;
    margin-top: 5px;
    margin-right: 5px;
  }
  .card2 .label3 .num3 {
    margin-right: 10px;
  }
  .card2 .label3 .num3 p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: #31374E;
  }
  .card2 .label3 .num3 p span {
    color: rgba(70, 81, 110, 0.6431372549);
  }
  .card2 .label4 {
    display: flex;
    gap: 100px;
    background-color: #f3f3fd;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .card2 .label4 .visual {
    display: flex;
    align-items: center;
  }
  .card2 .label4 .visual span {
    color: #414797;
    font-weight: 700;
    padding: 5px;
    font-size: 1rem;
  }
  .card2 .label4 .visual i img {
    margin-left: 10px;
    width: 1em;
    margin-top: 5px;
    margin-right: 5px;
  }
  .card2 .label4 p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: #31374E;
  }
  .card2 .label4 p span {
    color: rgba(70, 81, 110, 0.6431372549);
  }
  .card2 .centrado {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .card2 .summary {
    margin-left: 30px;
    color: #31374E;
    font-weight: 900;
  }
}

/*# sourceMappingURL=styles.css.map */
